*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header{
    background-image:linear-gradient(rgb(72, 72, 163),rgb(46, 102, 107));
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    opacity: 85%;
    align-items: center;
}
nav{
   
    
    width: 80%;
    margin: auto;
   

}

.logo{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
    font-size: 30px;
}
.menu ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
    padding: 10px 15px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;

}

.menu li a:hover{
  color: black;
  font-weight: 700;
  text-transform: uppercase;

}
